html, body {
    height: 100%;
    margin: 0;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.t2 {
    flex: 2;
}

.t6 {
    flex: 6;
    display: flex;
    align-items: center;
}

img {
    height: 300px;
    margin-left: 450px;
}

input[type="text"]{
    height: 30px;
    width: 500px;
    margin-left: 10px;
}

input[type="submit"]{
    margin-left: 50px;
    margin-right: 50px;

}

.pesquisa {
    display: flex;
    flex-direction: column;
}